p {
    margin: 6px;
    padding: 6px;
    border: 4px solid black;
    width: 200px;
    height: 200px;
    background-color: blanchedalmond;
}

html {
    box-sizing: border-box;
  }
  * {
    box-sizing: inherit;
  }

  .my-grid {
    display: grid;
    grid-template-columns: auto 5fr;
    grid-template-rows: auto 5fr;
  }

  .has-blue-background {
    background-color: #efd1ff;
    border: 5px solid #721EE3;
  }

  .has-yellow-background {
    background-color: #f199f5;
    border: 5px inset #f26db4;
  }
